.laberinto {
  --n: 4;
  --tam: 60px;        /* tamaño de cada cuadrado */
  --pared: 6px;       /* grosor de las paredes */
  --color: #222;

  display: grid;
  grid-template-columns: repeat(var(--n), var(--tam));
  grid-auto-rows: var(--tam);
  width: max-content;
  border-radius: 3px;
  background-color: rgb(204, 204, 204);
  /* Borde superior y izquierdo definido por el laberinto*/
  border-top: var(--pared) solid var(--color);
  border-left: var(--pared) solid var(--color);
}

.laberinto.ocho { --n: 8; }
.laberinto.diez { --n: 10; }

.celda { box-sizing: border-box; }
.celda.r { border-right: var(--pared) solid var(--color); }
.celda.b { border-bottom: var(--pared) solid var(--color) }

.inicio { background: rgb(86, 179, 241); }
.fin    { background: rgb(235, 95, 95); }

.resolver {
  color: rgb(36, 105, 255);
  border-radius: 4px;
  border-color: rgb(255, 153, 0);
  margin-bottom: 4vh;
  font-size: 2vw;
}

.contenedor-laberinto {
  display: flex;
  justify-content: center;
  padding-inline: 10vw;
  padding-block: 5vh;
  background-color: rgb(0, 30, 58);
}

.info-laberinto {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgb(255, 160, 75);
  border-radius: 3px;
  margin-left: 5vw;
  padding-inline: 2vw;
  padding-block: 4vh;
  h2 {
    background-color: rgb(75, 171, 255);
    padding-inline: 1vw;
    padding-block: 1vh;
    border-radius: 3px;
  }
}